/*Give the <body> element a background of #bda464*/
body {
    background-color: #bda464;
}

/*Make the <h1> elements blue*/
h1 {
    color: blue;
}

/*Make all <li> elements in the shade of hexadecimal blue*/
li {
    color: blue;
}

/*Paragraph background to orange*/
p {
    background-color: orange;
}

/*Make all <h3> have 5px red solid border*/
h3 {
    font-size: 5px;
    color: red;
    border-style: solid;
}

/*Give everything with <abbr> bold and underlined*/
abbr {
    font-weight: bold;
    text-decoration: underline;
}

/*Give elements with class "explanation" red*/
.explanation {
    color: red;
}

/*Give <p> in id "zen-benefits" pink background*/
#zen-benefits p {
    background-color: pink;
}

/*Make <li> adjacent to <h2> red background*/
h2 + li {
    background-color: red;
}

/*Give <em> inside <p> red and bold*/
p em {
    color: red;
    font-weight: bold;
}

/* Give visited link green */
a{
    color: blue;
}

:visited{
    color: green;
}

/* Change to body font to any google font as you like */
body {
    font-family: "Sofia", sans-serif;
}

/* Add any animation to <h1> (try the new one not same as the example) */
@keyframes Bounce{
    0% {
        opacity:0;
        transform: translateY(0rem);
    }
    50% {
        opacity:0.75;
        transform: translateY(-1rem);
    }
    100% {opacity:1;
        transform: translateY(0rem);
    }
}
h1 {
    animation-name: Bounce;
    animation-duration: 1s;
}